@model Products
@{
    var catlist = ViewBag.CategoryList;
}
<h1>Ürün Düzenleme Paneli</h1>

<div class="row">
    <div class="col-4">
        <form asp-controller="Products" asp-action="Edit">
            <div class="form-group">
                <label for="productsId">Ürün Id:</label>
                <input asp-for="Id" type="number" class="form-control" id="productsId" aria-describedby="productsIdDesc" readonly>
                <small id="productsHelp" class="form-text text-muted">Düzenlemek için yetkilendirilmelisiniz.</small>
            </div>
            <div class="form-group">
                <label for="productsCode">Ürün Kodu:</label>
                <input asp-for="ProductCode" type="text" class="form-control" id="productsCode">
            </div>
            <div class="form-group">
                <label for="productsName">Ürün Adı:</label>
                <input asp-for="ProductName" type="text" class="form-control" id="productsName">
            </div>
            <div class="form-group">
                <label for="productsArea">Genel Kullanım Alanı:</label>
                <input asp-for="ProductArea" type="text" class="form-control" id="productsArea">
            </div>
            <div class="form-group">
                <label for="productsClass">Ürün Sınıfı:</label>
                <input asp-for="ProductClass" type="text" class="form-control" id="productsClass">
            </div>
            <div class="form-group">
                <label for="productsType">Ürün Tipi:</label>
                <input asp-for="ProductType" type="text" class="form-control" id="productsType">
            </div>
            <div class="form-group">
                <label for="productsBottomBrand">Ürün Alt Marka:</label>
                <input asp-for="ProductBottomBrand" type="text" class="form-control" id="productsBottomBrand">
            </div>
            <div class="custom-file mb-3">
                <input asp-for="ProductsFile" type="file" class="custom-file-input" id="productsImage" required>
                <label class="custom-file-label" type="file" for="productsImage">Resim seçiniz...</label>
                <div class="invalid-feedback">Lütfen bir resim seçiniz!</div>
            </div>
            <div class="mb-3">
                <select asp-for="ProductCategoryName" class="custom-select" required>
                    <option value="">Kategori seçiniz...</option>
                    @foreach (var item in catlist)
                    {
                        <option value="@item.CategoryName">@item.CategoryName</option>
                    }
                </select>
                <div class="invalid-feedback">Lütfen bir kategori seçiniz!</div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Kaydet</button>
                <a class="btn btn-secondary" asp-controller="Products" asp-action="List">Geri</a>
            </div>
        </form>
    </div>
</div>
